body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    box-sizing: border-box;
}






a:link {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
  }
  
  a:focus {
    text-decoration: none;
    text-decoration-line: none;
  }
  
  a:active {
    color: auto;
    text-decoration: none;
    text-decoration-line: none;
  }

/* ----------------------------------------- */

.header {
    align-items: center;
    margin: 0 auto;
}
.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.header-container img {
    width: 100px;
    height: auto;
    padding-left: 2vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.button-hebergement {
    display: inline-flex;
}
.button-hebergement a {
    font-size: large;
    border-top: 1px solid transparent;
    padding-top: 6vh;
    padding-left: 6vh;
    padding-right: 6vh;
}
.button-hebergement:hover a {
    border-top: 1px solid #0065FC;
    font-weight: 500;
    color: #0065FC;
}
.button-activites {
    display: inline-flex;
    color: black;
}
.button-activites a {
    color: black;
    font-size: large;
}
.button-inscrire {
    display: inline-flex;
}
.button-inscrire a {
    font-weight: bold;
    font-size: 1.33em;
    color: #0065FC;
    font-size: large;
    padding-right: 6vh;
    padding-left: 5vh;
}
/* ----------------------------------------- */

.search-container h2 {
    margin-left: 2vh;
}
.search-container p {
    margin-left: 2vh;
}
.information i {
    padding: 1vh;
    border: 1px solid #DEEBFF;
    border-radius: 40px;
    color: #0065FC;
    margin-right: 2vh;
}
.search-bar i {
    color: black;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    background-color: #DEEBFF;
    position: relative;
}
.form-search {
    margin-left: 2vh;
}
.form-search input {
    width: 240px;
    font-weight: 700;
    font-size: 1.1em;
    padding: 16px;
    outline: none;
    border: none;
    border-top: 1px solid #DEEBFF;
    border-bottom: 1px solid #DEEBFF;
    margin-left: -5px;
}
.form-search input::placeholder {
    color: black;
    font-weight: bold;
    font-size: large;
}
.form-search a {
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 17px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}
.filters {
    display: flex;
    align-items: center;
    margin-left: 2vh;
}
.filters p {
    border: 1px solid #DEEBFF;
    border-radius: 30px;
    font-weight: bold;
    padding-right: 2vh;
    font-size: large;

}
.filters i {
    background-color: #DEEBFF;
    border-radius: 30px;
    padding: 1vh;
    color: #0065FC;
    margin-right: 2vh;
}


/* ------------------------------------*/
#hebergement-all {
    display: flex;
    justify-content: space-between;
}
#hebergement { 
    max-width: 886px;
    width: fit-content;
    height: fit-content;
    margin-left: 2vh;
    display: inline-grid; 
}
.hebergement-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.hebergement-container a {
    padding-top: 3vh;
    font-weight: bold;
}
.card-hebergement-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card-hebergement-container img {
    width: 245px;
    height: 125px;
    object-fit: cover;
    flex-direction: column;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card-hebergement-container i {
    color: #0065FC;
}
.card-hebergement-infos h3, .card-hebergement-infos p {
    font-size: medium;
    margin: 5px;
}
.card-hebergement-infos i {
    font-size: small;
    margin-bottom: 8px;
}
.card-hebergement-1, .card-hebergement-2, .card-hebergement-3, .card-hebergement-4, .card-hebergement-5, .card-hebergement-6 {
    background-color: white;
    border-radius: 30px;
    padding: 3px;
}

/* ------------------------------------*/
#populaire {
    margin-right: 2vh;
    width: fit-content;
}
.populaire-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.populaire-container img {
    width: 140px;
    height: 140px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.populaire-container h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.card-populaire-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
}
.card-populaire-1 {
    display: flex;
    max-width: 345px;
    background-color: white;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 20px;
}
.card-populaire-2 {
    display: flex;
    max-width: 345px;
    background-color: white;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 20px;
}
.card-populaire-3 {
    display: flex;
    max-width: 345px;
    background-color: white;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 20px;
}
.card-populaire-3 img {
    width: 172px;
}
.card-populaires-infos {
    padding-left: 10px;
}
.card-populaires-infos i {
    color: #0065FC;
    font-size: small;
}