body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
}






a:link {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
  }
  
  a:focus {
    text-decoration: none;
    text-decoration-line: none;
  }
  
  a:active {
    color: auto;
    text-decoration: none;
    text-decoration-line: none;
  }

/* ----------------------------------------- */

.header {
    align-items: center;
    margin: 0 auto;
}
.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.header-container img {
    width: 100px;
    height: auto;
    padding-left: 2vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.button-hebergement {
    display: inline-flex;
}
.button-hebergement a {
    font-size: large;
    border-top: 1px solid transparent;
    padding-top: 6vh;
    padding-left: 6vh;
    padding-right: 6vh;
}
.button-hebergement:hover a {
    border-top: 1px solid #0065FC; ;
    color: #0065FC;
}
.button-activites {
    display: inline-flex;
    color: black;
}
.button-activites a {
    color: black;
    font-size: large;
}
.button-inscrire {
    display: inline-flex;
}
.button-inscrire a {
    font-weight: bolder;
    color: #0065FC;
    font-size: large;
    padding-right: 10vh;
    padding-left: 5vh;
}
.search-container h2 {
    margin-left: 2vh;
}
.search-container p {
    margin-left: 2vh;
}

.form-search label {
    padding: 1.5vh;
}
.form-search span {
    padding: 1.5vh;
    background-color: #DEEBFF;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    position: absolute;
}
.form-search input {
    padding: 1.8vh;
    width: 25%;
    margin-left: 4vh;
    font-weight: bolder;
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}
.form-search input::placeholder {
    color: black;
    font-weight: bold;
    font-size: large;
}
.form-search a {
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1.8vh;
    position: absolute;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}
.filters {
    display: flex;
    align-items: center;
    margin-left: 2vh;
}
.filters p {
    border: 1px solid #DEEBFF;
    border-radius: 30px;
    font-weight: bolder;
    padding-right: 2vh;

}
.filters i {
    background-color: #DEEBFF;
    border-radius: 30px;
    padding: 1.5vh;
    color: #0065FC;
    margin-right: 1vh;
}
.search-container i {
    padding: 1vh;
    border: 1px solid #DEEBFF;
    border-radius: 30px;
    color: #0065FC;
    margin-right: 2vh;
}