body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}






a:link {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
  }
  
  a:visited {
    color: black;
    text-decoration: none;
    text-decoration-line: none;
  }
  
  a:focus {
    text-decoration: none;
    text-decoration-line: none;
  }
  
  a:active {
    text-decoration: none;
    text-decoration-line: none;
  }

/* ----------------------------------------- */

header {
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}

.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.header-container img {
    width: 100px;
    height: auto;
    padding-left: 2vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.buttons {
    padding-top: 50px;
}

.primary-link {
    margin-right: 60px;
}
.active {
    padding-top: 49px;
}
.active:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC!important;
}
   
.secondary-link {
    font-weight: bold;
    color: #0065FC!important;
}

/* ----------------------------------------- */
#search {
    max-width: 1440px;
    margin: 0 auto;
}
.search-container h2 {
    margin-left: 2vh;
}
.search-container p {
    margin-left: 2vh;
}
.information i {
    border: 1px solid #DEEBFF;
    border-radius: 40px;
    color: #0065FC;
    margin-right: 2vh;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
}
.geo {
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    background-color: #FAFAFA;
    color: black;    
}
.search-desktop {
    color: white;
}
.search-bar i {
    padding: 20px;
}
.form-search {
    margin-left: 2vh;
}
.form-search input {
    width: 230px;
    font-weight: 700;
    font-size: 1.1em;
    padding: 16px;
    outline: none;
    border: none;
    border-top: 1px solid #DEEBFF;
    border-bottom: 1px solid #DEEBFF;
    margin-left: -5px;
    font-family: "Raleway", sans-serif;
}
.form-search a {
    color: white;
}
.form-search input::placeholder {
    color: black;
    font-weight: bold;
    font-size: large;
}
.search-desktop {
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    padding: 18px;
    margin-left: -5px;
}
.search-mobile {
    display: none;
}
.filters {
    display: inline-flex;
    align-items: center;
    margin-left: 2vh;
    width: 100%;
    flex-wrap: wrap;
    
}
.filters p:hover {
    border: 1px solid #0065FC;
    transform: scale(1.05);
}
.filters p {
    border: 1px solid #DEEBFF;
    border-radius: 30px;
    font-weight: bold;
    padding-right: 2vh;
    font-size: large;
    transition: border 450ms ease-in-out, transform 450ms ease-in-out ;

}
.filters i {
    background-color: #DEEBFF;
    border-radius: 30px;
    color: #0065FC;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}


/* ------------------------------------*/

#hebergement-all {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
#hebergement { 
    width: 100%;
    margin-left: 2vh;
    margin-right: 4vh;
}
.hebergement-container {
    padding-top: 20px;
    border-radius: 30px;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
}
.hebergement-container a {
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 50px;
    font-size: large;
}
.hebergement-container h2 {
    padding-left: 40px;
}
.card-hebergement-container {
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-evenly;
}
.card-hebergement-container img {
    width: 245px;
    height: 125px;
    object-fit: cover;
}
.card-hebergement-container i {
    color: #0065FC;
}
.card-hebergement-infos h3, .card-hebergement-infos p {
    font-size: medium;
    margin: 5px;
    padding-left: 1vh;
}
.card-hebergement-infos i {
    font-size: small;
    margin-bottom: 8px;
}
.card-hebergement {
    background-color: white;
    border-radius: 30px;
    border: 4px solid transparent;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    margin-top: 30px;
    overflow: hidden;
}
.more {
    font-weight: bold;
}

/* ------------------------------------*/

#populaire {
    width: 100%;
    max-width: 400px;
    padding: 30px 40px 30px 40px;
    border-radius: 30px;
    background-color: #F2F2F2;
    display: flex;
    position: relative;
    justify-content: stretch;
    flex-direction: column;
}
#populaire img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}
.icon {
    padding-left: 110px;
}
.card-populaire-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2vh;
    margin-right: 2vh;
    height: 100%;
}
.card-populaire {
    display: flex;
    background-color: white;
    border: 4px solid transparent;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    overflow: hidden;
}
.card-populaire-3 img {
    width: 140px;
}
.card-populaires-infos {
    padding-left: 20px;
}
.card-populaires-infos i {
    color: #0065FC;
    font-size: small;
}
/* ------------------------------------*/
#activites {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 4vh;
}
.activites {
    margin-left: 2vh;
    margin-top: 5vh;
}
.activites-container h3 {
    padding-bottom: 1vh;
}
.card-activites-container {
    column-gap: 40px;
}

.card-activites-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px 50px 200px;
}
.card-activites-1 {
    grid-column: 1/2;
    grid-row: 1/5;
}
.card-activites-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.card-activites-3 {
    grid-column: 2/3;
    grid-row: 3/5;
}
.card-activites-4 {
    grid-column: 3/4;
    grid-row: 1/5;
}
.card-activites-5 {
    grid-column: 4/5;
    grid-row: 1/3;
}
.card-activites-6 {
    grid-column: 4/5;
    grid-row: 4/4;
}
.card-activites-1 img {
    width: 100%;
    height: calc(100% - 70px);
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.card-activites-2 img {
    width: 100%;
    height: calc(100% - 70px);
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.card-activites-3 img {
    width: 100%;
    height: calc(100% - 70px);
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.card-activites-4 img {
    width: 100%;
    height: calc(100% - 70px);
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.card-activites-5 img {
    width: 100%;
    height: calc(100% - 70px);
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}
.card-activites-6 img {
    width: 100%;
    height: calc(100% - 70px);
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.card-activites-infos {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    border: 1px solid transparent;
    margin-top: -5px;
    padding: 1vh;
    padding-left: 2vh;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

/* ------------------------------------*/
footer {
    padding-top: 4vh;    
    background-color: #F2F2F2;
}
.footer-container {    
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4vh;
    margin: 0 auto;
    max-width: 1440px;
    margin-left: 22vh;
}
.footer-container a {
    padding: 1vh;
    font-weight: 500;
}
.footer-container h3 {
    margin-left: 10px;
}
.APropos {
    display: inline-flex;
    flex-direction: column;
}
.NosHebergements {
    margin-left: -10vh;
    display: inline-flex;
    flex-direction: column;
}
.Assistance {
    display: inline-flex;
    flex-direction: column;
    margin-right: 40vh;
}

/* ------------------------------------*/
@media screen and (min-width: 100px) and (max-width: 950px) {
    .header-container {
        display: block;
        width: 100%;
    }
    .header-container img {
        padding-left: 4vh;
    }
    .primary-link {
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #DEEBFF;
        margin-right: 0;
        padding-bottom: 20px;
        display: inline-block;
    }
    .active {
        padding-top: 0;
    }
    .active:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 0;
        color: #0065FC;
    }
    .secondary-link {
        position: absolute;
        top: 50px;
        right: 65px;
        color: #0065FC;
    }
    .buttons {
        padding-top: 0;
        display: flex;
    }
    #search {
        padding-top: 40px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .search-desktop {
        display: none;
    }
    .search-mobile {
        display: inline-block;
        background-color: #0065FC;
        border-radius: 20px;
        color: white;
        margin-left: -15px;
    }
    .search-icon {
        color: white;
    }
   .form-search input {
       width: 230px;
       margin-bottom: 40px;
    } 
    .filters {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .filters p {
        padding-right: 10px;
    }
    .filters i {
        margin-right: 15px; 
    }
    #hebergement-all {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    #hebergement {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
    .hebergement-container {
        padding-left: 0;
        background-color: white;
    }
    .hebergement-container a {
        margin-left: 50px;
    }
    .hebergement-container h2 {
        margin-left: 50px;
    }
    .card-hebergement-container {
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        gap: 40px;
    }
    
    .card-hebergement-container img {
        height: 110px;
        width: 350px;
    }

    #populaire {
        margin-left: 2vh;
        padding-bottom: 2vh;
        max-width: initial;
        width: initial;
        margin-left: 50px;
        margin-right: 50px;
        margin-left: 0;
        margin-right: 0;
        align-items: center;    
    }
    .populaire-container {
        padding: 2vh;
        padding-left: 0;
        padding-right: 0;
        align-content: center;
        background-color: #FAFAFA;
        border-radius: 0;
    }
    #populaire h2 {
        justify-content: space-between;
    }
    #populaire i {
        padding-left: 1vh;
    }
    .card-populaire-container {
        margin-left: 0;
        margin-right: 0;
    }
    .card-populaire-1 {
        width: 100%;
    }
    .card-populaire-2 {
        width: 100%;
    }
    .card-populaire-3 {
        width: 100%;
    }
    #activites {
        margin-left: 50px;
        margin-right: 50px;
    }
    .activites-container {
        margin-right: 0;
    }
    .activites-container h3 {
        margin-left: -20px;
    }
    .card-activites-container {
        display: grid;
        gap: 40px;
        grid-template-columns: 340px;
        grid-template-rows: 190px 190px 190px ;
    }
    .card-activites-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .card-activites-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .card-activites-3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .card-activites-4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .card-activites-5 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .card-activites-6 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .footer-container {
        width: 100%;
        margin-left: 0;
        justify-content: space-evenly;
        flex-direction: column;
        width: fit-content;
        margin-left: 50px;
        margin-right: 50px;
    }
    .NosHebergements {
        margin-left: 0;
    }
    .Assistance {
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .card-activites-container {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: 190px 190px 190px 190px 190px 190px;
        justify-content: center;
    }
    .card-activites-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .card-activites-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .card-activites-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .card-activites-4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .card-activites-5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .card-activites-6 {
        grid-column: 1/2;
        grid-row: 6/7;
    }
}

@media screen and (min-width: 280px) and (max-width: 450px) {
    .form-search {
        margin-left: 0;
    }
    #search {
        margin-left: 20px;
        margin-right: 20px;
    }
    .populaire-container h2 {
        flex-direction: column;
    }
    .populaire-container i {
        padding-top: 1vh;
    }
    .card-populaire-1 {
        width: fit-content;
        max-width: 330px;
    }
    #populaire img {
        height: initial;
    }
    #populaire i {
        padding-left: 0;
    }
    .card-populaire {
        width:initial;
        max-width: 330px;
    }
    .card-populaire {
        width: fit-content;
        max-width: 330px;
    }
    .card-populaires-infos {
        padding-right: 20px;
    }
    .card-populaires-infos i {
        padding-left: 0;
    }
    .hebergement-container h2 {
        margin-left: 25px;
        padding-left: 0;
    }
    .hebergement-container a {
        margin-left: 25px;
        
    }
    .card-hebergement-container {
        padding-left: 0;
        padding-right: 0;
    }
    #activites {
        margin-left: 20px;
        margin-right: 20px;
    }
    .activites {
        margin-left: 0;
    }
    .icon {
        margin-left: 40px;
    }
    
}
@media screen and (max-width: 370px) {
    .header-container img {
        padding-left: 2vh;
    }
    .card-hebergement-container img {
        width: 100%;
    }
    .card-populaire-container img {
        height: auto;
    }
    .search-container p {
        margin-left: 2vh;
    }
    .filters {
        margin-left: 0;
        width: 100%;
    }
    .filters i {
        margin-right: 5px;
        padding: 1.2vh;
    }
    .form-search input {
        width: auto;
        min-width: 100px;
    }
}